.sixteen.columns
  #footer
    %ul
      %li
        %a{ href: '/' }= "Athega 20 år"
      %li
        %a{ href: 'http://athega.se/' } athega.se
      %li
        %a{ href: 'https://twitter.com/#!/search/realtime/%23athega20' } #athega20
