.sixteen.columns
  #footer
    %ul
      %li
        %a{ href: 'http://1997.athega.se/' }= "Athega 1997"
      %li
        %a{ href: 'http://athega.se/' } athega.se
      %li
        %a{ href: 'https://twitter.com/#!/search/realtime/%23athega20' } #athega20
