.row.no-bottom-margin
  .sixteen.columns
    %header
      %a{ :href => 'http://athega.se/' }<
        %img{ src: '/images/athega_icon_l.gif' }
        %img{ src: '/images/athega_icon_r.gif' }>
        %img{ src: '/images/aman_page.gif' }>
        %img{ src: '/images/top_end.gif' }>
