%div Hej igen, #{name}!
%br
%br
%div
  Vi menar verkligen inte att tjata, men vi ville bara helt kort påminna om att sista
  dagen att berätta för oss om du kan komma på vårt 20-årskalas är nu på
  %strong torsdag, den 26:e oktober.
%br
%div
  Kalaset är på Orangeriet på Norr Mälarstrand
  %strong torsdagen den 9 november från 17:30.
  Det skulle vara så himla trevligt om du kunde vara med och fira med oss.
%br
%div
  Anmäl dig här,
  #{"<a href=\"#{link}\">#{link}</a>"} (OBS! Personlig inbjudan)
%br
%br
%div Hoppas vi ses!
