%div Hej igen, #{name}!
%br
%br
%div
  Vi vill bara helt kort påminna om att nu på torsdag, den 26:e oktober, är det
  %strong sista anmälningsdagen
  till vårt 20-årskalas.
%br
%div
  Kalaset är på Orangeriet på Norr Mälarstrand, torsdagen den 9 november från 17:30.
  Det skulle vara så himla trevligt om du kunde vara med och fira med oss.
%br
%div
  Anmäl dig här,
  #{"<a href=\"#{link}\">#{link}</a>"} (OBS! Personlig inbjudan)
%br
%br
%div Hoppas vi ses!
