%p Hej!
%br
%p
  - if arrived
    Tack för att du kom på vårt 20-årskalas och firade med oss. Vilken fantastisk kväll!
  - else
    Tråkigt att du missade vårt 20-årskalas, men det blir fler tillfällen!
%p
  Vi tänkte bjuda på en liten kort film från kalaset, som visar lite härlig stämning
  och några höjdpunkter, https://youtu.be/mPV2yjUGm_4.
%div
  <a href="https://youtu.be/mPV2yjUGm_4" style="text-decoration:none; display:block;" class="nonplayable">
  <img src="https://i.ytimg.com/vi/mPV2yjUGm_4/mqdefault.jpg" height="274" width="498">
  </a>
%p
  - if athega != 0 || wikipedia != 0  || dafla_true != 0  || dafla_false != 0  || athegamannen != 0  || johnny_bravo != 0  || perl_true != 0  || perl_false != 0  || javascript != 0  || java != 0  || go != 0  || ruby != 0
    Vad kul att du passade på att svara på några frågor i frågesporten!
    %ul
      %li
        På frågan om vad som kom först, Athega eller Wikipedia, svarade du
        - if athega > 0 && wikipedia > 0
          både och, vilket ju inte är helt rätt! Athega är rätt svar.
        - elsif athega > 0
          Athega, vilket ju var helt rätt!
        - elsif wikipedia > 0
          Wikipedia, vilket faktiskt inte stämmer, då Wikipedia skapades först 2001.
        - else
          ingenting, men du visste säkert redan att Athega var rätt svar
      %li
        Ja, det stämmer faktiskt att vi hade en "Spotifydödare" något decenium innan lanseringen av Spotify.
        - if dafla_true > 0 && dafla_false > 0
          Ditt svar kring detta var litet svårtolkat…
        - elsif dafla_true > 0
          Det hade du koll på!
        - elsif dafla_false > 0
          Det trodde du inte på!
      %li
        - if athegamannen > 0 && johnny_bravo > 0
          Det kan vara svårt att skilja på Athegamannen och Johnny Bravo, men rätt svar var inte båda! ;)
          Det var ju Athegamannen på bilden.
        - elsif athegamannen > 0
          Det stämmer att det var Athegamannen på bilden!
        - elsif johnny_bravo > 0
          Det kan vara svårt att skilja på dem, men det var faktiskt Athegamannen på bilden, inte Johnny Bravo.
        - else
          Mannen på bilden var så klart Athegamannen!
      %li
        På påståendet att Athega älskar programmeringsspråket Perl, svarade du
        - if perl_true > 0 && perl_false > 0
          både sant och falsk och det stämmer faktiskt. De flesta har ett varmt hjärta när det kommer till Perl,
          men inte alla.
        - elsif perl_true > 0
          att det var sant. Så klart det är!
        - elsif perl_false > 0
          att det var falskt och OK då, de flesta har ett varmt hjärta när det kommer till Perl,
          men inte alla.
        - else
          inget speciellt, men det stämmer faktiskt, de flesta av oss har ett varmt hjärta när det kommer till Perl.
      %li
        När det kommer till våra duktiga utvecklare svarade du att vi behärskade
        - if javascript > 0
          Javascript,
        - if java > 0
          Java,
        - if go > 0
          Go,
        - if ruby > 0
          Ruby,
        - if javascript == 0 && java == 0 && go == 0 && ruby == 0
          allt (eftersom vi tolkar inget svar som medhåll)
        vilket ju är helt sant!
    %p
      Fint jobbat, med frågesporten tycker vi!
%p
  Tack för den här gången, på återseende och glada hälsningar
  %br
%p
  %em // Athegagänget
