%div Hej #{name}!
%br
%span
%div Nu på torsdag (9 november) smäller det, då firar vi 20 år och vi ser fram emot att få göra det med dig!
%br
%div Det blir en kväll med plockmat, dryck, musik och mycket annat. I stora drag ser vi så här på kvällen;
%br
%div
  17:30 Portarna slås upp med bubbligt och snacks
  %br
  18:30 Skål för jubilaren
  %br
  19:00 Plockmat och mingel
  %br
  21:00 Mera snacks
  %br
  24:00 Portarna stängs - det är ju en dag i morgon också!
%br
%div Hjärtligt välkommen!
%br
%div /#{invited_by}
